*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign{
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
}
.sign h1:nth-child(1){
    border-radius: 10px;
    padding: 5px;
}
.sign h1:nth-child(2){
    background-color:orange;
    border-radius: 10px;
    padding: 5px;
}
#box{
    width: 50%;
    margin: 20vh auto;
}
#menu{
    display:none;
}
#menu ol{
    display: flex;
    list-style-type: none;
    width:80%;
    margin: auto;
    justify-content: space-evenly;
    text-transform: uppercase;
    /* font-weight: bold; */
    color:white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
#menu ol li{
    padding: 10px;
    border-radius: 10px;
}
#menu ol li:hover{
    background-color:lightskyblue ;
    color: black;
    
}
#signUp{
    padding: 20px;
    border:2px solid green;
    border-radius: 20px;
    width: 60%;
    margin: auto;
}
#signIn{
    padding: 20px;
    border:2px solid green;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    display:none;
}
#signUp input,#signIn input{
    width: 100%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.2rem;
    text-indent: 3%;
    border-radius: 10px;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
}
.sub{
    width: 100%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: 2px solid orangered;
    box-shadow: 2px 2px 2px gray;
}
#welcome,#balance,#currentBalance{
    font-size: 3rem;
    text-align: center;
  
}
#bookDetailsPage,#borrowBookPage,#borrowHistoryPage,#returnPage,#topUpPage{
    margin-top: 10vh;
    margin-bottom:5vh;
    display: none;
}
#bookDetailsTable,#borrowBookTable,#borrowHistoryTable,#returnTable{
    margin: auto;
    border: 2px solid gray;
    border-collapse: collapse;
}
#bookDetailsTable td,#bookDetailsTable th,#borrowBookTable td,#borrowBookTable th,#borrowHistoryTable td,#borrowHistoryTable th,#returnTable td,#returnTable th{
    text-align: center;
    border: 2px solid gray;
    padding: 5px;
}
#bookDetailsTable td button,#borrowBookTable td button{
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    margin: 0px 5px;
}
#addEditBookForm{
    margin-top: 5vh;
    display: none;
    width:40%;
    margin: auto;
    border:2px solid black;
    padding: 10px;
    border-radius: 10px;
}
#addEditBookForm input{
    width: 50%;
    margin:2% auto;
    line-height: 2rem;
    font-size: 1.5rem;
    text-indent: 3%;
    border-radius: 10px;
    border: 2px solid blue;
    box-shadow: 2px 2px 2px gray;
    display: block;
}
#addEditBookForm h1{
    text-align: center;
}
#addEditBookForm button{
    display: block;
    width: 50%;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    color: white;
    margin: auto;
    background-color: green;
    /* margin: 0px 5px; */

}
#amountInput,#bookAddButton{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
#bookDetailsTable td button:nth-child(1){
    background-color: blue;
    
}
#bookDetailsTable td button:nth-child(2){
    background-color: red;
  
}
#borrowBookTable td button:nth-child(1){
    background-color: blue;
    
}
.gender{
    display: flex;
    width: 20px;
    padding: 5px;
    padding-left: 10px;
    gap: 20px;
}
.departments{
    display: flex;
    width: 20px;
    padding: 5px;
    padding-left: 10px;
    gap: 20px;
}